.main-section{
    margin: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #8FB43A;
    padding: 50px;
    border-radius: 30px;
}

.book-presentation{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #DCDFDA;
    border-radius: 30px;
}

.options-box{
    display: flex;
    gap: 25px;
    margin: 10px;
    background-color: #C8D6A2;
    border-radius: 30px;
    padding: 20px;
}

.main-presentation{
    font-size: 25px;
}

.options-presentation{
    overflow: auto;
    max-height: 400px;
}

.options-presentation h3{
    color: #DCDFDA;

}

.book-features{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.book-options{
    display: flex;
    gap: 15px;
    background-color:#DCDFDA;
    border-radius: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.book-options-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:#DCDFDA;
    border-radius: 30px;
    justify-content: space-evenly;
}

.options{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: #C8D6A2;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
}

.info{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: #C8D6A2;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    padding: 10px;
    width: auto;
}

.options h2{
    text-align: center;
    padding: 10px;
}

.options label{
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.83em 0;
}

.options-button{
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    background: #DCDFDA;
}

.options-button-number{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    display: grid;
    place-content: center;
    text-align: center;
    background: #DCDFDA;

}

.option {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
    color: #333;
}

.price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #007bff;
}

.pic-container{
    background: #DCDFDA;
    margin: 50px;
    padding: 45px;
    justify-content: center;
}

.book-pic{
    display: flex;
    overflow: auto;
    gap: 50px;
    background: #C8D6A2;
    border-radius: 30px;
}

.pic{
    height: 510px;
    width: 825px;
}

.green-light{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: #DCDFDA;
    font-family: 'Montserrat', sans-serif;
}

.red-light{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: #DCDFDA;
    font-family: 'Montserrat', sans-serif;
}

.green-light:hover{
    color: #DCDFDA;
    background: #41e00b;
    transition: color 0.3s, background-color 0.3s;
}

.red-light:hover{
    color: #DCDFDA;
    background: red;
    transition: color 0.3s, background-color 0.3s;
}

