.profile-section{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    margin: 200px auto;
}

.profile-container{
    display: flex;
    background: #91d17b;
    height: auto;
    width: auto;
    border-radius: 30px;
}

.account-list{
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 40px;
}

.my-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.list-item-name{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.input-account{
    border-radius: 50px;
    height: 25px;
    width: 400px;
    font-size: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.green-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.red-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.green-light:hover{
    color: white;
    background: #41e00b;
    transition: color 0.3s, background-color 0.3s;
}

.red-light:hover{
    color: white;
    background: red;
    transition: color 0.3s, background-color 0.3s;
}
.list-reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ul-button{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    flex-wrap: wrap;
    overflow: auto;
    width: 400px;
    height: 200px;
}

.my-reservation{
    overflow: auto;
    width: 510px;
    height: 601.69px;
}

.blue-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.blue-light:hover {
    color: white;
    background: blue;
    transition: color 0.3s, background-color 0.3s;
}
.pink-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.pink-light:hover {
    color: white;
    background: deeppink;
    transition: color 0.3s, background-color 0.3s;
}
.orange-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.orange-light:hover {
    color: white;
    background: darkorange;
    transition: color 0.3s, background-color 0.3s;
}

.black-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.black-light:hover {
    color: white;
    background: black;
    transition: color 0.3s, background-color 0.3s;
}

button{
    border: none;
    border-radius: 10px;
}