.profile-section{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    margin: 200px auto;

}

.profile-container {
    display: flex;
    background: #C8D6A2;
    width: 610px;
    height: auto;
    border-radius: 30px;
    border: 15px solid #4B5943;
    place-content: center;
}

.profile-container-3{
    display: flex;
    background: #C8D6A2;
    width: 610px;
    height: auto;
    border-radius: 30px;
    border: 15px solid #4B5943;

    place-content: center;
}

.profile-container-4{
    display: flex;
    background: #C8D6A2;
    width: auto;
    height: 601.69px;
    border-radius: 30px;
    border: 15px solid #4B5943;
    overflow: auto;
    place-content: center;
}

.profile-container-bis{
    display: flex;
    background: #C8D6A2;
    width: auto;
    height: 601.69px;
    border-radius: 30px;
    border: 15px solid #4B5943;
    overflow: auto;
    scrollbar-width: none;
    place-content: center;
}

.account-list{
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 40px;
}

.account-list-bis{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
}

.my-account{
    display: flex;
    justify-content: center;
}

.list-item{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #4B5943;
}

.list-item-117{
    text-align: left;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #4B5943;
}



.list-item-name{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #4B5943;
}

.input-account{
    border-radius: 50px;
    height: 25px;
    width: 400px;
    font-size: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #DCDFDA;
}

.input{
    border-radius: 30px;
    background: #DCDFDA;
    color: black;
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}


.green-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.red-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.green-light:hover{
    color: #DCDFDA;
    background: #41e00b;
    transition: color 0.3s, background-color 0.3s;
}

.red-light:hover{
    color: #DCDFDA;
    background: red;
    transition: color 0.3s, background-color 0.3s;
}
.list-reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

.list-reservation-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #8FB43A;
    padding: 10px;
    border-radius: 10px;
    border: solid #4B5943 1px;
}

.ul-button{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    flex-wrap: wrap;
    overflow: auto;
    scrollbar-width: none;
    width: 400px;
    height: 200px;
}

.my-reservation{
    overflow: auto;
    scrollbar-width: none;
    width: 510px;
    height: 601.69px;
}

.blue-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.blue-light:hover {
    color: #DCDFDA;
    background: blue;
    transition: color 0.3s, background-color 0.3s;
}
.pink-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.pink-light:hover {
    color: #DCDFDA;
    background: deeppink;
    transition: color 0.3s, background-color 0.3s;
}
.orange-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.orange-light:hover {
    color: #DCDFDA;
    background: darkorange;
    transition: color 0.3s, background-color 0.3s;
}

.black-light{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.black-light:hover {
    color: #DCDFDA;
    background: black;
    transition: color 0.3s, background-color 0.3s;
}

button{
    border: none;
    border-radius: 10px;
}

.change-pannel{
    border: none;
    background: #DCDFDA;
    padding: 16px 30px;
    color: black;
    border-radius: 6px;
    transition: 0.2s;
    margin-bottom: 100px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.change-pannel:hover{
    box-shadow: 0 0 0 4px #8FB43A, 0 0 0 8px #DCDFDA;
    color: #8FB43A;
}

.account-list-item{
    gap: 5px;
    display: flex;
    text-align: left;
    padding: 5px;
    color: #4B5943;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    background: #C8D6A2;
    border: 2px solid #4B5943;
    border-radius: 10px;
    margin: 5px;
    overflow: auto;
}
