.site-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 0 100px;
    z-index: 1000;
}

* {
    box-sizing: border-box;
}

.right-icon{
    display: flex;
    gap: 20px;
}

.login-icon a:link,a:visited,a:active{
    color: white;
}

.site-header a{
    margin-left: auto;
    text-decoration: none;
}

.main-div{
    display: grid;
    place-items: center;
    padding-top: 200px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    background-image: url("../img/portal_background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-portal{
    width: 450px;
    height: auto;
}

.link-portal-text{
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
}

.link-portal-text a:link,a:visited,a:active{
    color: white;
}

.link-portal-img{
    z-index: 9;
}

.link-portal-img:hover{
    z-index: 999;
    transform: rotate(1440deg);
    filter: brightness(150%);
    transition: transform 4s ease, filter 4s ease;
}

.headliner-div{
    display: flex;
    width: 100%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.headliner-item{
    width: 300px;
    height: 200px;
    margin-right: 38px;
    margin-left: 38px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 50);
    border: 2px solid black;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.headliner-item:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 1);
}

.headliner-box{
    background-color: #41e00b;
    border-bottom: 2px solid black;
}